<!DOCTYPE html>
{% load static %}
<html lang="en" style="height: 100%; margin: 0; padding: 0;">

<head>
    <meta charset="UTF-8">
    <title>네이버 영화</title>
</head>

<body style="background-color: #6E6E6E; ">
    <div style="background-color: white; margin: 50px; padding: 40px;">
        <h2>댓글</h2>
        {% if comments %}
            {% for c in comments %}
            <div style="border-top: 1px solid #E5E5E5; padding: 10px;">
                <p>🕵️‍♂️ {{ c.0 }}</p>
                <p>"{{ c.1 }}"</p>
                <p style="font-size: 14px;">{{ c.2 }} | 신고 | 좋아요 {{ c.3 }} | 싫어요{{ c.4 }}</p>
            </div>
            {% endfor %}
        {% else %}
        {% endif %}
    </div>
</body>

</html>