<!DOCTYPE html>
{% load static %}
<html lang="en" style="height: 100%; margin: 0; padding: 0;">

<head>
    <meta charset="UTF-8">
    <title>네이버 영화</title>
</head>

<body>
    <div style="text-align: center; padding: 100px 0;">
        <form action="{% url 'search' %}" method="POST">
            {% csrf_token %}
                <div>
                    <img style="width: 40%;display : block; margin : auto;" src="https://mblogthumb-phinf.pstatic.net/MjAyMTExMDVfNzQg/MDAxNjM2MDc5MjE5NTA5.XdgfiryTd6iPke_06mJAi2Ol1N3P_zJFWTLJ43_7-6og.LdcRRPsxld9x6jWbpZj_OFMXFLsW9jkADn_Cp2jSuygg.GIF.naver_diary/%EC%9E%85%EB%8F%99_%EB%AA%A8%EC%85%98_pc%EB%B2%84%EC%A0%84_%EC%B5%9C%EC%A2%85_%EC%88%98%EC%A0%952.gif?type=w800">
                    <input style="width: 50%; height: 40px; background: #fdfdfd; border: 2px solid #2DB400; border-radius: 20px;font-size: 20px;line-height: 29px; text-align: center; color: #5B5B5B;" class="form-control mr-sm-2" type="search" placeholder="영화를 검색해보세요:)" name="query_str" value="{{query_str}}">
                    <button id="search_btn" type="submit" style="background: white; border: 0px solid white; height: 50px; text-align: center; line-height: 30px;">
                       <img style="width: 36px; vertical-align: middle; margin-bottom: 10px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyX6zm3IbvNLc9LRlVgp3dQ0B9U8M8rUKj2w&usqp=CAU"/>
                    </button>
                </div>
            
            <div style="margin-top: 20px; font-size: 14px;">
                <span>[정렬]</span>
                <input type="radio" name="sort_condition" value="1" checked="checked"/>가나다 순
                <input type="radio" name="sort_condition" value="2"/>가나다 역순
                <input type="radio" name="sort_condition" value="3"/> 오래된 순
                <input type="radio" name="sort_condition" value="4"/>최신 순
                <input type="radio" name="sort_condition" value="5"/>평점 높은 순
                <input type="radio" name="sort_condition" value="6"/>평점 낮은 순
            </div>

            <div style="margin-top: 10px; font-size: 14px;">
                <span>[검색 내용]</span>
                <input type="radio" name="search_condition" value="1" checked="checked"/>제목
                <input type="radio" name="search_condition" value="2"/> 배우
                <input type="radio" name="search_condition" value="3"/>감독
                <input type="radio" name="search_condition" value="4"/>장르
                <input type="radio" name="search_condition" value="5"/>날짜 (이후 개봉)
                <input type="radio" name="search_condition" value="6"/>날짜 (년도)
                <input type="radio" name="search_condition" value="7"/>국가
            </div>    
        </form>
    </div>
</body>

</html>